<!-- <app-simple-grid
  [columnsData]="columnsData"
  [dataRows]="dataRows"
  [pageSize]="10"
  [totalRows]="totalRows"
  gridTitle="Students Results"
  [isFilterEnabled]="true"
  (pageChange)="handlePageChange($event)"
  [prefetchNextPagerequired]="true"
  [enableSelection]="true"
  (selectionChange)="handleSelectionChange($event)"
  #sampleGrid
>
  <app-simple-grid-cell column="actions">
    <ng-template let-value let-row="row" let-column="column">
      <button (click)="editRow(row)">Edit</button>
      <button (click)="deleteRow(row)">Delete</button>
    </ng-template>
  </app-simple-grid-cell>
  <app-simple-grid-pagination
    [targetGridRef]="sampleGrid"
  ></app-simple-grid-pagination>
</app-simple-grid> -->

<!-- <lib-ov-portal-ui></lib-ov-portal-ui> -->

<div class="popover-examples">
  <div class="example-1">
    <i class="bi bi-info-circle"></i>
    <lib-popover>
      <ng-template #popoverContent>
        <div class="popover-content">
          <h3>Popover Title</h3>
          <p>This is the content of the popover.</p>
        </div>
      </ng-template>
      <button class="btn btn-primary">Click me</button>
    </lib-popover>
  </div>
  <div class="example-2"></div>
  <div class="example-3"></div>
  <div class="example-4"></div>
  <div class="example-5"></div>
</div>
