<!-- <app-simple-grid
  [columnsData]="columnsData"
  [dataRows]="dataRows"
  [pageSize]="10"
  [totalRows]="totalRows"
  gridTitle="Students Results"
  [isFilterEnabled]="true"
  (pageChange)="handlePageChange($event)"
  [prefetchNextPagerequired]="true"
  [enableSelection]="true"
  (selectionChange)="handleSelectionChange($event)"
  #sampleGrid
>
  <app-simple-grid-cell column="actions">
    <ng-template let-value let-row="row" let-column="column">
      <button (click)="editRow(row)">Edit</button>
      <button (click)="deleteRow(row)">Delete</button>
    </ng-template>
  </app-simple-grid-cell>
  <app-simple-grid-pagination
    [targetGridRef]="sampleGrid"
  ></app-simple-grid-pagination>
</app-simple-grid> -->

<!-- <lib-ov-portal-ui></lib-ov-portal-ui> -->

<div class="popover-examples">
  <div class="example-1">
    <i class="bi bi-info-circle" #ex1></i>
    <lib-popover [triggerEl]="ex1">
      <h5>Popover example heading</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ratione in
        fuga ab earum harum praesentium mollitia deserunt dicta placeat, optio
        assumenda, quo similique doloremque? Provident natus ex minima cum.
      </p>
    </lib-popover>
  </div>

  <div class="example-2">
    <i class="bi bi-info-circle" #ex2></i>
    <lib-popover [triggerEl]="ex2">
      <h5>Popover example heading</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ratione in
        fuga ab earum harum praesentium mollitia deserunt dicta placeat, optio
        assumenda, quo similique doloremque? Provident natus ex minima cum.
      </p>
    </lib-popover>
  </div>

  <div class="example-3">
    <i class="bi bi-info-circle" #ex3></i>
    <lib-popover [triggerEl]="ex3">
      <h5>Popover example heading</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ratione in
        fuga ab earum harum praesentium mollitia deserunt dicta placeat, optio
        assumenda, quo similique doloremque? Provident natus ex minima cum.
      </p>
    </lib-popover>
  </div>

  <div class="example-4">
    <i class="bi bi-info-circle" #ex4></i>
    <lib-popover [triggerEl]="ex4">
      <h5>Popover example heading</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ratione in
        fuga ab earum harum praesentium mollitia deserunt dicta placeat, optio
        assumenda, quo similique doloremque? Provident natus ex minima cum.
      </p>
    </lib-popover>
  </div>

  <!-- example-5 -->
  <div class="example-5">
    <i class="bi bi-info-circle" #ex5></i>
    <lib-popover [triggerEl]="ex5">
      <h5>Popover example heading</h5>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam ratione in
        fuga ab earum harum praesentium mollitia deserunt dicta placeat, optio
        assumenda, quo similique doloremque? Provident natus ex minima cum.
      </p>
    </lib-popover>
  </div>
</div>
